body{
    background-color: black
}
ul{
    display: inline-block;
    padding-right: 100pz;
    list-style-type: none;
}
li a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(255, 227, 227);
    padding: 10px 30px;
    background-color: #e67171;
    border-radius: 5px;
}

li{
    display: inline-block;
}

.phi{
    color: rgb(255, 252, 64);
}
.phi1{
    color: darkgoldenrod
}
.phi2{
    color: rgb(3, 241, 142)
}
#p1{
    color: coral;
    text-align: center;
}
#p2{
    color: blueviolet;
    text-align: center;
}
#p3{
    color: cadetblue;
    text-align: center;
}
#p4{
    background-color: gold;
    text-align: center;
    font-size: 30px;
}
#p5{
    color: olive;
    text-align: center;
}
#p6{
    color: olivedrab;
    text-align: center;
}
#p7{
    background-color: rgb(27, 116, 0);
    text-align: center;
    font-size: 30px;
}
div{
    margin: 50px;
}